
C_sharp/lab1/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/03e3274c-ae2d-4537-8b19-15b2b1e185e5.vsidx
C_sharp/lab1/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/e96849b8-7422-43c4-8072-2cd1a6f604ce.vsidx
C_sharp/lab1/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
C_sharp/lab1/ConsoleApp1/ConsoleApp1.sln
C_sharp/lab1/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.deps.json
C_sharp/lab1/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.dll
C_sharp/lab1/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.exe
C_sharp/lab1/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.pdb
C_sharp/lab1/ConsoleApp1/ConsoleApp1/bin/Debug/net6.0/ConsoleApp1.runtimeconfig.json
C_sharp/lab1/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/apphost.exe
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfoInputs.cache
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.assets.cache
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.CoreCompileInputs.cache
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/project.assets.json
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/refint/ConsoleApp1.dll
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ref/ConsoleApp1.dll
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.pdb
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GlobalUsings.g.cs
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.genruntimeconfig.cache
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.dll
C_sharp/lab1/ConsoleApp1/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.csproj.FileListAbsolute.txt
